.color-dark-black{
	background-color: #121212;
}

.color-black{
	background-color: #1E1E1E;
}

.color-light-black{
	background-color: #1F1F1F;
}

.color-grey{
	background-color: #2D2D2D;
}

.color-dark-purple{
	background-color: #B64FC8;
}

.color-purple{
	background-color: #EA80FC;
}

.color-light-purple{
	background-color: #202124;
}

.color-green{
	background-color: #191919;
}