.header-parent > div {
    padding:0px;
  }
  .header-parent {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color:#1E1E1E;
    min-height:100px;
  }
  
  .header-child-left {
    padding: 3%;
    width: 50%;
  }

  .header-child-right {
    height: 100%;
    position: absolute;
}

.header-left-content{
    margin-left: 10%;
    font-size: xx-large;
    position: absolute;
}

.header-right-content{
    margin-left: 10%;
    position: absolute;
    font-style: italic;
}