@import './header.css';
@import './colors.css';

body {
	font-family: Roboto, sans-serif !important;
	color: #fff !important;
	background-color: #1E1E1E !important;
	padding: 75px;
	margin: 10px auto;
}

.color-border{
	border-style: solid;
	border-width: 1px;
	border-color:red;
}

.row {
	margin-top: 10%;
}

.row div {
	margin-top: 2.5%;
}

.content{
	padding: 10px;
}